# Transparência
background_opacity 0.8

# Fonte (ajusta depois se quiser)
font_family FiraCode Nerd Font
font_size 11
bold_font auto
italic_font auto

# Cursor
cursor_shape block
cursor_blink_interval 0.5

# Scroll
scrollback_lines 10000

# Performance
repaint_delay 10
input_delay 3

# Bell
enable_audio_bell no

# Seleção mais amigável
copy_on_select yes

# URL clicável
detect_urls yes


# Mostrar barra de abas sempre
tab_bar_style powerline
tab_bar_edge top

# Alinhamento à esquerda
tab_bar_align left

# Visual mais limpo
tab_bar_min_tabs 2
tab_bar_margin_width 0.0

map f5 launch --location=vsplit
map f6 launch --location=hsplit
enabled_layouts splits
