############################
# Aparência
############################

# Transparência
background_opacity 0.85

# Blur (Wayland/KDE/GNOME)
# background_blur 1

# Espaçamento interno
window_padding_width 10

# Fonte
font_family         FiraCode Nerd Font
bold_font           auto
italic_font         auto
bold_italic_font    auto
font_size           13

# Ligações tipográficas
disable_ligatures   never

# Cursor
cursor_shape                    beam
cursor_blink_interval           0.5
cursor_stop_blinking_after      15
cursor_trail                    2

# Links
underline_hyperlinks always

# Cores
foreground #d8dee9
# background #111111


############################
# Performance
############################

repaint_delay 4
input_delay 0
sync_to_monitor yes


############################
# Scroll
############################

scrollback_lines         500000
wheel_scroll_multiplier  5.0
show_hyperlink_targets   yes


############################
# Área de transferência
############################

copy_on_select yes
clipboard_control write-clipboard write-primary
strip_trailing_spaces smart


############################
# URLs
############################

detect_urls yes

# Ctrl + Clique abre links
mouse_map ctrl+left release grabbed,ungrabbed mouse_handle_click link


############################
# Bell
############################

enable_audio_bell no
visual_bell_duration 0.0


############################
# Abas
############################

tab_bar_style      powerline
tab_bar_edge       top
tab_bar_align      left
tab_bar_min_tabs   1
tab_powerline_style slanted

active_tab_foreground   #1e1e2e
active_tab_background   #89b4fa

inactive_tab_foreground #cdd6f4
inactive_tab_background #313244

# Zoom
map ctrl+equal change_font_size all +2
map ctrl+minus change_font_size all -2
map ctrl+0     change_font_size all 0


############################
# Layouts
############################

enabled_layouts splits:split_axis=horizontal,stack,tall


############################
# Janelas / Splits
############################

# Split vertical
map f5 launch --cwd=current --location=vsplit

# Split horizontal
map f6 launch --cwd=current --location=hsplit

# Fechar painel
map f4 close_window


############################
# Abas
############################

# Nova aba
map alt+f5 new_tab --cwd=current

# Fechar aba
map alt+f4 close_tab

# Navegação
map alt+left  previous_tab
map alt+right next_tab


############################
# Navegação entre painéis
############################

map ctrl+k    neighboring_window left
map ctrl+l    neighboring_window right
map ctrl+up   neighboring_window up
map ctrl+down neighboring_window down


############################
# Atalhos enviados ao shell
############################

# Próxima palavra
map ctrl+right send_text all \x1b[1;5C

# Palavra anterior
map ctrl+left send_text all \x1b[1;5D

# Apagar palavra anterior
map ctrl+backspace send_text all \x17


############################
# Kitty
############################

kitty_mod ctrl+shift


############################
# Wayland
############################

linux_display_server wayland
